$--color-text-placeholder: #D9D9D9;
$--color-primary: #4368DE;
$--border-radius-base: 0px;
$--color-text-regular: #5C6268;
$--color-text-primary: #8C939B;
$--border-color-base: #E9ECF1;
$--color-danger: #F9463F;
$--color-warning: #FAAD14;
$--color-info: #8C8C8C;
$--button-default-border-color: #D9D9D9;
$--button-default-font-color: #595959;
$--button-primary-background-color: #4368DE;
$--button-padding-horizontal: 15px;
$--button-medium-padding-horizontal: 28px;
$--button-medium-padding-vertical: 9px;
$--button-small-padding-horizontal: 18px;
$--button-small-padding-vertical: 9px;

$--button-padding-vertical: 9px;
$--button-border-radius: 4px;
$--button-font-size: 12px;
$--button-medium-font-size: 12px;
$--select-input-font-size: 12px;
$--select-font-size: 12px;
$--checkbox-border-radius: $--border-radius-zero;
$--table-header-font-color: $--color-text-primary;
$--table-header-background-color: #F1F4FA;
$--table-font-color: #595959;
$--table-row-hover-background-color: #FAFAFA;
$--form-label-font-size: 12px;
$--dialog-content-font-size: 12px;
$--dialog-title-font-size: 16px;
$--input-small-font-size: 12px;
$--input-medium-font-size: 12px;
$--input-icon-color: #8C8C8C;
$--input-height: 30px;
$--input-border-radius: 2px;
$--input-width: 200px;
$--input-medium-height: 30px;
$--input-small-height: 30px;
$--input-mini-height: 30px;

$--menu-background-color: transparent;
$--menu-item-font-size: 14px;
$--menu-item-font-color: #5B667A;

$--pagination-button-color: $--color-primary;
$--pagination-font-size: 12px;
$--pagination-font-color: #5C6268;
$--pagination-button-width: 30px;
$--pagination-button-height: 30px;
$--font-size-base: 12px;
$--checkbox-font-size: 12px;
$--button-primary-border-color: $--color-primary;
